<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HR Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static/css/hr.css">
</head>

<body>
<h1>HR Dashboard</h1>
<h2>Employees Information</h2>

<table id="employeeTable">
    <thead>
    <tr>
        <th data-key="id" class="black-arrow id-column">ID</th>
        <th data-key="name" class="black-arrow name-column">Name</th>
        <th>Marital Status</th>
        <th>Position</th>
        <th data-key="educational_background" class="black-arrow">Educational Background</th>
        <th>Employment Status</th>
        <th data-key="onboarding_time" class="black-arrow">Onboarding Time</th>
    </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
    <tr>
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.marital_status }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.educational_background }}</td>
        <td>{{ employee.employment_status }}</td>
        <td>{{ employee.onboarding_time }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="buttons">
    <button id="showAddEmployeeFormBtn">Add Employee</button>
    <button id="showUpdateEmployeeFormBtn">Update Employee</button>
    <button id="showUpdateSalaryFormBtn">Update Salary</button>
    <button id="showChangePasswordFormBtn">Change Password</button>
    <button id="showDeleteEmployeeFormBtn">Delete Employee</button>
    <button id="showFilterFormBtn">Filter Employees</button>
    <button onclick="location.href='{{ url_for('welcome') }}'">Home</button>
</div>

<div id="pagination">
    <button id="prevPage">Previous</button>
    <select id="pageNumber"></select>
    <button id="nextPage">Next</button>
</div>

<div id="filterFormContainer" class="form-container" style="display:none;">
    <h2>Filter Employees</h2>
    <form id="filterForm">
        <label for="filter_position">Position:</label>
        <select id="filter_position" name="position">
            <option value="">All</option>
            <option value="Software Engineer">Software Engineer</option>
            <option value="Systems Analyst">Systems Analyst</option>
            <option value="Network Administrator">Network Administrator</option>
            <option value="Database Administrator">Database Administrator</option>
            <option value="Web Developer">Web Developer</option>
            <option value="IT Support Specialist">IT Support Specialist</option>
            <option value="Network Administrator">Network Administrator</option>
            <option value="Project Manager">Project Manager</option>
            <option value="Quality Assurance Engineer">Quality Assurance Engineer</option>
            <option value="UI Designer">UI Designer</option>
            <option value="Cybersecurity Analyst">Cybersecurity Analyst</option>
            {% for position in positions %}
            <option value="{{ position }}">{{ position }}</option>
            {% endfor %}
        </select>
        <label for="filter_educational_background">Educational Background:</label>
        <select id="filter_educational_background" name="educational_background">
            <option value="">All</option>
            <option value="Bachelor">Bachelor</option>
            <option value="Master">Master</option>
            <option value="PhD">PhD</option>
            {% for background in educational_backgrounds %}
            <option value="{{ background }}">{{ background }}</option>
            {% endfor %}
        </select>
        <label for="filter_employment_status">Employment Status:</label>
        <select id="filter_employment_status" name="employment_status">
            <option value="">All</option>
            <option value="Full-time">Full-time</option>
            <option value="Part-time">Part-time</option>
            <option value="Freelance">Freelance</option>
            {% for status in employment_statuses %}
            <option value="{{ status }}">{{ status }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>
    <div id="filterResult"></div>
</div>

<div id="addEmployeeFormContainer" class="form-container">
    <h2>Add Employee</h2>
    <form id="addEmployeeForm">
        <label for="add_id">ID:</label>
        <input type="text" id="add_id" name="id" required>
        <label for="add_password">Password:</label>
        <input type="password" id="add_password" name="password" required>
        <label for="add_role">Role:</label>
        <select id="add_role" name="role">
            <option value="Employee">Employee</option>
            <option value="HR">HR</option>
        </select>
        <button type="submit">Add Employee</button>
    </form>
</div>

<div id="updateEmployeeFormContainer" class="form-container">
    <h2>Update Employee</h2>
    <form id="updateEmployeeForm">
        <label for="update_id">ID:</label>
        <input type="text" id="update_id" name="id" required>
        <label for="update_name">Name:</label>
        <input type="text" id="update_name" name="name" required>
        <label for="update_marital_status">Marital Status:</label>
        <select id="update_marital_status" name="marital_status" required>
            <option value="Single">Single</option>
            <option value="Divorced">Divorced</option>
            <option value="Married">Married</option>
        </select>
        <label for="update_position">Position:</label>
<!--        <input type="text" id="update_position" name="position" required>-->
        <select id="update_position" name="position" required>
            <option value="Software Engineer">Software Engineer</option>
            <option value="Systems Analyst">Systems Analyst</option>
            <option value="Network Administrator">Network Administrator</option>
            <option value="Database Administrator">Database Administrator</option>
            <option value="Web Developer">Web Developer</option>
            <option value="IT Support Specialist">IT Support Specialist</option>
            <option value="Network Administrator">Network Administrator</option>
            <option value="Project Manager">Project Manager</option>
            <option value="Quality Assurance Engineer">Quality Assurance Engineer</option>
            <option value="UI Designer">UI Designer</option>
            <option value="Cybersecurity Analyst">Cybersecurity Analyst</option>
        </select>
        <label for="update_educational_background">Educational Background:</label>
        <select id="update_educational_background" name="educational_background" required>
            <option value="Bachelor">Bachelor</option>
            <option value="Master">Master</option>
            <option value="PhD">PhD</option>
        </select>
        <label for="update_employment_status">Employment Status:</label>
        <select id="update_employment_status" name="employment_status" required>
            <option value="Full-time">Full-time</option>
            <option value="Part-time">Part-time</option>
            <option value="Freelance">Freelance</option>
        </select>
        <label for="update_onboarding_time">Onboarding Time:</label>
        <input type="date" id="update_onboarding_time" name="onboarding_time" required>
        <button type="submit">Update Employee</button>
    </form>
</div>

<div id="updateSalaryFormContainer" class="form-container">
    <h2>Update Salary</h2>
    <form id="updateSalaryForm">
        <label for="salary_id">ID:</label>
        <input type="text" id="salary_id" name="id" required>
        <label for="salary_name">Name:</label>
        <input type="text" id="salary_name" name="name" required>
        <label for="basic_salary">Basic Salary:</label>
        <input type="number" step="0.01" id="basic_salary" name="basic_salary" required>
        <label for="performance_bonus">Performance Bonus:</label>
        <input type="number" step="0.01" id="performance_bonus" name="performance_bonus" required>
        <label for="overtime_pay">Overtime Pay:</label>
        <input type="number" step="0.01" id="overtime_pay" name="overtime_pay" required>
        <label for="allowances">Allowances:</label>
        <input type="number" step="0.01" id="allowances" name="allowances" required>
        <label for="deductions">Deductions:</label>
        <input type="number" step="0.01" id="deductions" name="deductions" required>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>
        <label for="total_salary">Total Salary:</label>
        <input type="number" step="0.01" id="total_salary" name="total_salary" readonly>
        <button type="submit">Update Salary</button>
    </form>
</div>

<div id="changePasswordFormContainer" class="form-container">
    <h2>Change Password</h2>
    <form id="changePasswordForm">
        <label for="current_password">Current Password:</label>
        <input type="password" id="current_password" name="current_password" required>
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" required>
        <label for="confirm_new_password">Confirm New Password:</label>
        <input type="password" id="confirm_new_password" name="confirm_new_password" required>
        <button type="submit">Change Password</button>
    </form>
    <div id="alert"></div>
</div>

<div id="deleteEmployeeFormContainer" class="form-container">
    <h2>Delete Employee</h2>
    <form id="deleteEmployeeForm">
        <label for="delete_id">ID:</label>
        <input type="text" id="delete_id" name="id" required>
        <button type="submit">Delete Employee</button>
    </form>
</div>



<script src="static/js/hr.js"></script>

</body>
</html>